.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #111827;
  font-size: 7.1pt;
}

.table th,
.table td {
  border: 1px solid #111827;
  padding: 0.7mm;
  vertical-align: top;
  overflow-wrap: anywhere;
}

.table th {
  height: 10mm;
  padding: 0.5mm;
  font-size: 6pt;
  line-height: 1.2;
  overflow-wrap: normal;
  background: #edf7fb;
  font-weight: 700;
  text-align: center;
}

.table td {
  height: 8.8mm;
}

.table th:nth-child(1),
.table td:nth-child(1) { width: 3%; text-align: center; }
.table th:nth-child(2),
.table td:nth-child(2) { width: 4%; }
.table th:nth-child(3),
.table td:nth-child(3) { width: 2.5%; }
.table th:nth-child(4),
.table td:nth-child(4) { width: 10%; }
.table th:nth-child(5),
.table td:nth-child(5) { width: 4%; }
.table th:nth-child(6),
.table td:nth-child(6) { width: 3.5%; }
.table th:nth-child(7),
.table td:nth-child(7) { width: 4%; }
.table th:nth-child(8),
.table td:nth-child(8) { width: 3.5%; }
.table th:nth-child(9),
.table td:nth-child(9) { width: 2.5%; }
.table th:nth-child(10),
.table td:nth-child(10) { width: 3%; }
.table th:nth-child(11),
.table td:nth-child(11) { width: 3%; }
.table th:nth-child(12),
.table td:nth-child(12) { width: 16%; }
.table th:nth-child(13),
.table td:nth-child(13) { width: 17%; }
.table th:nth-child(14),
.table td:nth-child(14) { width: 7%; }
.table th:nth-child(15),
.table td:nth-child(15) { width: 5%; }
.table th:nth-child(16),
.table td:nth-child(16) { width: 12%; }
